*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 10px;
}

#caja1,
#caja2 {
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 10px solid red;
    margin: 20px;
    /* Margen externo */

    padding: 30px;
    /* Margen interno */
}

p {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 230px;
}


.cajas{
    max-width: 900px;
    border: 5px solid black;
}

.caja {
    display: block;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    border: 10px solid red;
    margin: 20px;
    /* Margen externo */

    padding: 30px;
    /* Margen interno */

    float: left;
    /* float flotan y se recargan a la izquierda o derecha */
}


/* limpiar float */
.clear{
    float: none;
    clear: both;
}

