#boton{
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgb(2, 23, 2);
    transition: border 300ms, background-color 10s, border-radius 600ms;
}

#boton:hover{
    border-radius: 35px;
    background-color: orange;
    border: 5px dashed red;
}

#caja{
    margin-top: 30px;
    width: 250px;
    height: 250px;
    color: white;
    background-color: lightblue;
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 250px;

    animation-name: desplazamiento;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes desplazamiento {
    0%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
    50% {
        margin-left: 600px;
        transform: rotate(360deg);
        border-radius: 1000px;

    }
    100%{
        margin-left: 0px;
        transform: rotate(0deg);
        background-color: black;
    }
}